repos:
-   repo: https://github.com/igrr/astyle_py.git
    rev: v1.0.5
    hooks:
    -   id: astyle_py
        args: ['--style=otbs', '--attach-namespaces', '--attach-classes', '--indent=spaces=4', '--convert-tabs', '--align-pointer=name', '--align-reference=name', '--keep-one-line-statements', '--pad-header', '--pad-oper', '--max-continuation-indent=120']

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    - id: codespell
      args: [-w, "--ignore-words=codespell-ignore-list"]

-   repo: https://github.com/espressif/check-copyright/
    rev: v1.0.3
    hooks:
      - id: check-copyright
        args: ['-r', '--config', 'check_copyright_config.yaml']

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: '.*\.uxf'
    -   id: end-of-file-fixer
        exclude: '.*\.uxf'
    -   id: check-merge-conflict
    -   id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character
        exclude: '.*\.uxf'
    -   id: check-yaml

-   repo: https://github.com/espressif/esp-idf-kconfig.git
    rev: v2.5.0
    hooks:
    -   id: check-kconfig-files
    -   id: check-deprecated-kconfig-options

-   repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
    -   id: mdformat
        exclude: 'CHANGELOG\.md$'
        args: [--number]
        additional_dependencies:
        -   mdformat-gfm  # GitHub Flavored Markdown support
        -   mdformat-ruff  # Python code block formatting

-   repo: local
    hooks:
    -   id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
        -   cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
