# Configure TinyUSB MTP.
CONFIG_TINYUSB_MTP_ENABLED=y
CONFIG_TINYUSB_MTP_TRACE_WRITES=n
CONFIG_TINYUSB_MTP_EP_BUFSIZE=4096
CONFIG_TINYUSB_MTP_MAX_STORAGES=3
CONFIG_TINYUSB_MTP_MAX_OBJECTS=32

# Partitions configuration, used by spiflash FATFS storage.
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_WL_SECTOR_SIZE_512=y
CONFIG_WL_SECTOR_MODE_PERF=y
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_VOLUME_COUNT=4
CONFIG_FATFS_CODEPAGE_936=y
CONFIG_FATFS_API_ENCODING_UTF_8=y
CONFIG_FREERTOS_HZ=1000


# Disable watchdogs, they'd get triggered during unity interactive menu.
CONFIG_ESP_INT_WDT=n
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Run-time checks of Heap and Stack.
CONFIG_HEAP_POISONING_COMPREHENSIVE=y
CONFIG_COMPILER_STACK_CHECK_MODE_STRONG=y
CONFIG_COMPILER_STACK_CHECK=y

CONFIG_UNITY_ENABLE_BACKTRACE_ON_FAIL=y
