CONFIG_TINYUSB_CDC_ENABLED=y
CONFIG_TINYUSB_CDC_COUNT=2
CONFIG_TINYUSB_MSC_ENABLED=y
CONFIG_TINYUSB_HID_COUNT=1
CONFIG_TINYUSB_MIDI_COUNT=1
CONFIG_TINYUSB_VENDOR_COUNT=2
CONFIG_TINYUSB_NET_MODE_NCM=y
CONFIG_TINYUSB_DESC_USE_DEFAULT_PID=y
