#
# USB Video Class (UVC)
#
CONFIG_TINYUSB_UVC_ENABLED=y
CONFIG_TINYUSB_DESC_UVC_STRING="Espressif UVC Camera"
# CONFIG_TINYUSB_UVC_SUPPORT_TWO_CAM is not set
CONFIG_TINYUSB_UVC_CAM1_FRAMERATE=15
CONFIG_TINYUSB_UVC_CAM1_FRAMESIZE_WIDTH=640
CONFIG_TINYUSB_UVC_CAM1_FRAMESIZE_HEIGHT=480
CONFIG_TINYUSB_UVC_FORMAT_MJPEG_CAM1=y
# CONFIG_TINYUSB_UVC_FORMAT_H264_CAM1 is not set
# CONFIG_TINYUSB_UVC_CAM1_MULTI_FRAMESIZE is not set
# CONFIG_TINYUSB_UVC_CAM1_BULK_MODE is not set
CONFIG_TINYUSB_UVC_MULTI_FRAME_WIDTH_1=640
CONFIG_TINYUSB_UVC_MULTI_FRAME_HEIGHT_1=480
CONFIG_TINYUSB_UVC_MULTI_FRAME_FPS_1=15
CONFIG_TINYUSB_UVC_MULTI_FRAME_WIDTH_2=320
CONFIG_TINYUSB_UVC_MULTI_FRAME_HEIGHT_2=240
CONFIG_TINYUSB_UVC_MULTI_FRAME_FPS_2=15
CONFIG_TINYUSB_UVC_MULTI_FRAME_WIDTH_3=160
CONFIG_TINYUSB_UVC_MULTI_FRAME_HEIGHT_3=120
CONFIG_TINYUSB_UVC_MULTI_FRAME_FPS_3=15
CONFIG_TINYUSB_UVC_CAM1_TASK_PRIORITY=5
CONFIG_TINYUSB_UVC_CAM1_TASK_CORE=-1
CONFIG_TINYUSB_UVC_TINYUSB_TASK_PRIORITY=5
CONFIG_TINYUSB_UVC_TINYUSB_TASK_CORE=-1
# end of USB Video Class (UVC)

# Partitions configuration, used by spiflash storage
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_WL_SECTOR_SIZE_512=y
CONFIG_WL_SECTOR_MODE_PERF=y

# On chips with USB Serial JTAG, disable secondary console which does not make sense when using console component
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

# Disable watchdogs, they'd get triggered during unity interactive menu
CONFIG_ESP_INT_WDT=n
CONFIG_ESP_TASK_WDT=n

# Run-time checks of Heap and Stack
CONFIG_HEAP_POISONING_COMPREHENSIVE=y
CONFIG_COMPILER_STACK_CHECK_MODE_STRONG=y
CONFIG_COMPILER_STACK_CHECK=y

CONFIG_UNITY_ENABLE_BACKTRACE_ON_FAIL=y

CONFIG_COMPILER_CXX_EXCEPTIONS=y
