menu "Example USB Audio Player"
    config EXAMPLE_MIC_PLAYBACK
        bool "Playback audio from microphone"
        default n
        help
            Enabled this to playback audio from microphone

endmenu
