# Enable USB Peripheral as a light sleep wake-up source (Target dependent)
CONFIG_PM_ENABLE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_ESP_SLEEP_EVENT_CALLBACKS=y
CONFIG_TINYUSB_USB_OTG_WAKEUP=y

# Enable Tinyusb power management
CONFIG_TINYUSB_PM=y

# Tinyusb Suspend/Resume events are registered internally in sdkconfig.defaults
