menu "USB-Driver: UVC Host"

    config UVC_HOST_PRINT_CONFIG_DESCRIPTOR
        bool "Print UVC Configuration Descriptor"
        default n
        help
            Print UVC Configuration Descriptor to console.

    config UVC_HOST_PRINT_SUPPORTED_FORMATS
        bool "Print supported formats"
        default n
        help
            When the stream parameters are unknown, this feature could be enabled to show supported formats by the camera.
            When enabled, the driver displays resolution, format and default FPS.

            Disabled by default.

    config UVC_HOST_INTERVAL_ARRAY_SIZE
        int "Size of the interval array in uvc_host_frame_info_t"
        default 3
        help
            This option sets the size of the interval array in the `uvc_host_frame_info_t` structure.
            Increase this value if you need to support more discrete frame intervals.

endmenu
